<section class="flex items-center p-5 mt-32 mb-20 bg-skin-muted text-skin-base">
  <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
    <div class="max-w-md text-center">
      <h2 class="mb-8 font-extrabold text-6xl text-skin-base">
        Forbidden
      </h2>
      <p class="text-xl font-semibold">Sorry, you don't have access to this resource.</p>
      <p class="mt-4 mb-8 text-gray-400">If this is unexpected, please contact administration.</p>
      <a rel="noopener noreferrer" routerLink="/dashboard"
         class="btn-submit">Back to dashboard</a>
    </div>
  </div>
</section>
