<div class="relative z-50" aria-labelledby="modal-title" role="dialog"
     aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-50 transition-opacity"></div>
  <div class="fixed inset-0 overflow-y-auto">
    <div class="flex min-h-screen items-center justify-center p-4 text-center sm:p-0">
      <div
        class="relative overflow-hidden rounded-lg bg-skin-base text-left shadow-xl sm:my-8 w-full sm:w-3/4">
        <div class="top-4 right-4 absolute cursor-pointer border rounded" (click)="closeModal()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </div>
        <div class="bg-skin-base px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
              <form class="bg-skin-base w-full" id="createRealisationForm" (submit)="submit()">
                <p class="text-3xl mb-1">Create realisation</p>
                Year*
                <input required [(ngModel)]="year" type="number" name="year"
                       class="block py-1 mb-5 mt-1 bg-skin-muted w-full lg:w-1/4">
                <div *ngIf="classes$ | async as classes">
                  Class*
                  <select [(ngModel)]="classId"
                          class="block py-1 mb-5 mt-1 bg-skin-muted w-full lg:w-1/4" name="classId">
                    <option *ngFor="let schoolClass of classes.content"
                            value="{{schoolClass.id}}">{{schoolClass.level.value}} {{schoolClass.name}}</option>
                  </select>
                </div>
                <div *ngIf="subjects$ | async as subjects">
                  Subject*
                  <select [(ngModel)]="subjectId"
                          class="block py-1 mb-5 mt-1 bg-skin-muted w-full lg:w-1/4" name="subjectId">
                    <option *ngFor="let subject of subjects.content"
                            value="{{subject.id}}">{{subject.name}}</option>
                  </select>
                </div>
                <div *ngIf="teachers$ | async as teachers">
                  Teacher*
                  <select [(ngModel)]="teacherId"
                          class="block py-1 mb-5 mt-1 bg-skin-muted w-full lg:w-1/4" name="teacherId">
                    <option *ngFor="let teacher of teachers.content"
                            value="{{teacher.id}}">{{teacher.firstName}} {{teacher.lastName}}</option>
                  </select>
                </div>
              </form>
              <div class="text-left">* field is required</div>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 bg-skin-base">
          <input *ngIf="!loading" type="submit" form="createRealisationForm" value="Create"
                 class="cursor-pointer btn-submit inline-flex w-full justify-center rounded-md border border-transparent px-4 py-2 text-base font-medium shadow-sm focus:outline-none sm:ml-3 sm:w-auto sm:text-sm">
          <button *ngIf="loading" type="submit"
                  class="cursor-pointer btn-submit inline-flex w-full justify-center rounded-md border border-transparent px-4 py-2 text-base font-medium shadow-sm focus:outline-none sm:ml-3 sm:w-auto sm:text-sm"
                  disabled>
            <svg class="h-5 w-5 animate-spin" viewBox="3 3 18 18">
              <path class="fill-gray-900"
                    d="M12 5C8.13401 5 5 8.13401 5 12c0 3.866 3.13401 7 7 7 3.866.0 7-3.134 7-7 0-3.86599-3.134-7-7-7zM3 12c0-4.97056 4.02944-9 9-9 4.9706.0 9 4.02944 9 9 0 4.9706-4.0294 9-9 9-4.97056.0-9-4.0294-9-9z"></path>
              <path class="fill-gray-50"
                    d="M16.9497 7.05015c-2.7336-2.73367-7.16578-2.73367-9.89945.0-.39052.39052-1.02369.39052-1.41421.0-.39053-.39053-.39053-1.02369.0-1.41422 3.51472-3.51472 9.21316-3.51472 12.72796.0C18.7545 6.02646 18.7545 6.65962 18.364 7.05015c-.390599999999999.39052-1.0237.39052-1.4143.0z"></path>
            </svg>
          </button>
          <button *ngIf="!loading" type="button" (click)="closeModal()"
                  class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-skin-base px-4 py-2 text-base font-medium text-skin-base shadow-sm hover:bg-skin-muted focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
