<ng-container *ngIf="!loading">
  <div
    class="bg-skin-base p-5 m-3 rounded-md shadow border-r-4 border-l-4 border-teal-600 flex justify-between space-x-5">
    <div class="">
      <div class="flex items-center">
        <span class="text-xl text-skin-base">{{realisationInfo?.subjectName}}</span>
      </div>
      <p class="mt-5"><span routerLink="/" class="cursor-pointer font-bold truncate">Dashboard</span>
        > {{realisationInfo?.subjectAbbreviation}}</p>
    </div>
    <div>
      <div class="flex justify-end">
      <span
        class="cursor-pointer text-lg text-skin-base truncate">{{realisationInfo?.teacherFirstName}} {{realisationInfo?.teacherLastName}}</span>
      </div>
      <p class="mt-5 flex justify-end"><span
        class="cursor-pointer font-bold text-sm">{{realisationInfo?.schoolClassName}}</span>
      </p>
    </div>
  </div>
  <div
    class="bg-skin-base p-5 m-3 rounded-md shadow border-r-4 border-l-4 border-teal-600 flex justify-between space-x-5">
    <div class="">
      <div class="flex items-center">
        <span class="text-xl text-skin-base">Realisation posts</span>
      </div>
      <div class="flex items-center">
        <span class="text-xl text-skin-base">Show activities</span>
      </div>
    </div>
  </div>
</ng-container>

<app-loading *ngIf="loading"></app-loading>
