<div class="md:flex" xmlns="http://www.w3.org/1999/html">
  <div class="md:w-1/3">
    <div
      class="bg-skin-base text-skin-muted p-5 m-3 rounded-md shadow border-l-4 border-r-4 md:border-r-0 border-teal-600">
      <span class="text-xl text-skin-base underline underline-offset-4">Activity info</span>
      <div class="mt-3 ml-3 space-y-1">
        <p><b>Name:</b> {{activity?.name}}</p>
        <p><b>Description:</b> {{activity?.description}}</p>
        <p><b>Weight:</b> {{activity?.weight}}</p>
        <p><b>Date:</b> {{activity?.date | date:"mediumDate"}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading()" class="md:w-2/3">
    <div
      class="bg-skin-base text-skin-muted p-5 m-3 md:ml-0 rounded-md shadow border-r-4 border-l-4 md:border-l-0 border-teal-600 space-x-5">
      <div class="overflow-x-auto max-w-[81vw] sm:max-w-full">
        <span class="text-xl text-skin-base underline underline-offset-4">Grades</span>
        <div class="flex items-center mt-2 space-x-5 ml-0.5">
          <input [(ngModel)]="filter" type="text" placeholder="Find student.." class="bg-skin-muted text-skin-base">
          <div class="flex-nowrap">
            <input [(ngModel)]="onlyUngraded" id="ungraded" type="checkbox"
                   class="checked:text-teal-600 focus:ring-0 focus:ring-offset-0">
            <label for="ungraded" class="pl-2">Show only ungraded</label>
          </div>
        </div>
        <table class="text-left w-full">
          <thead class="uppercase">
          <tr>
            <th class="px-6 py-3">
              Student
            </th>
            <th class="px-6 py-3 text-center">
              Grade
            </th>
            <th class="px-6 py-3 text-center">
              Comment
            </th>
            <th class="px-6 py-3 text-center">
              Action
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let grade of getFilteredGrades()" class="border-b border-gray-400 text-lg text-skin-base">
            <td class="px-6 py-4">
              {{grade.studentFirstName}} {{grade.studentLastName}}
              <div>
                {{grade.studentPersonalId}}
              </div>
            </td>
            <td class="px-6 py-4 text-xl text-center">
              {{grade?.grade}}
            </td>
            <td class="px-6 py-4 text-xl text-center">
              {{grade?.comment}}
            </td>
            <td class="px-6 py-4 text-xl text-center">
              <div class="w-full flex justify-center">
                <button
                  (click)="openGradeModal(grade)"
                  class="btn-submit">Edit
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading()" class="md:w-2/3">
    <div
      class="bg-skin-base text-skin-muted p-5 m-3 md:ml-0 rounded-md shadow border-r-4 border-l-4 md:border-l-0 border-teal-600 space-x-5">
      <div class="overflow-x-auto max-w-[81vw] sm:max-w-full">
        <div class="text-left w-full">
          <div class="uppercase">
            <div class="space-x-5 flex">
              <div class="px-6 py-3 bg-skin-muted w-1/3 rounded animate-pulse"></div>
              <div class="px-6 py-3 text-center bg-skin-muted w-1/3 rounded animate-pulse"></div>
              <div class="px-6 py-3 text-center bg-skin-muted w-1/3 rounded animate-pulse"></div>
            </div>
          </div>
          <div class="mt-5 flex w-full bg-skin-muted px-6 py-8 rounded animate-pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative z-50" aria-labelledby="modal-title" role="dialog" aria-modal="true" *ngIf="editModalOpened">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-50 transition-opacity"></div>
  <div class="fixed inset-0 overflow-y-auto">
    <div class="flex min-h-screen items-center justify-center p-4 text-center sm:p-0">
      <div
        class="relative overflow-hidden rounded-lg bg-skin-base text-left shadow-xl sm:my-8 w-full sm:w-3/4">
        <div class="top-4 right-4 absolute cursor-pointer border rounded" (click)="closeGradeModal()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </div>
        <div class="md:flex md:space-x-10">
          <div class="bg-skin-base px-4 pt-5 pb-4 sm:p-6 sm:pb-4 md:w-2/3">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                <form class="bg-skin-base w-full" id="updateActivityForm" (submit)="submit()">
                  <p class="text-3xl mb-1">Edit grade</p>
                  Grade* (min 1, max 5)
                  <input required type="number" name="weight" min="1" max="5" [(ngModel)]="currentGrade"
                         class="block py-1 mb-5 mt-1 bg-skin-muted w-full lg:w-1/4">
                  Comment (max 100 characters)
                  <textarea required name="content" maxlength="100" [(ngModel)]="currentComment"
                            class="block py-1 mb-5 mt-1 bg-skin-muted w-full h-16 resize-y">
                  </textarea>
                </form>
                <div class="text-left">* field is required</div>
              </div>
            </div>
          </div>
          <div class="bg-skin-base px-4 pt-5 pb-4 sm:p-6 sm:pb-4 mr-10 mt-10">
            <h1 class="text-xl font-bold uppercase">Student info</h1>
            <p class="mt-2">Name: {{studentFirstName}} {{studentLastName}}</p>
            <p>Personal id: {{studentPersonalId}}</p>
          </div>
        </div>


        <div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 bg-skin-base">
          <input *ngIf="!loading" type="submit" form="updateActivityForm" value="Save"
                 class="cursor-pointer btn-submit inline-flex w-full justify-center rounded-md border border-transparent px-4 py-2 text-base font-medium shadow-sm focus:outline-none sm:ml-3 sm:w-auto sm:text-sm">
          <button *ngIf="loading" type="submit"
                  class="cursor-pointer btn-submit inline-flex w-full justify-center rounded-md border border-transparent px-4 py-2 text-base font-medium shadow-sm focus:outline-none sm:ml-3 sm:w-auto sm:text-sm"
                  disabled>
            <svg class="h-5 w-5 animate-spin" viewBox="3 3 18 18">
              <path class="fill-gray-900"
                    d="M12 5C8.13401 5 5 8.13401 5 12c0 3.866 3.13401 7 7 7 3.866.0 7-3.134 7-7 0-3.86599-3.134-7-7-7zM3 12c0-4.97056 4.02944-9 9-9 4.9706.0 9 4.02944 9 9 0 4.9706-4.0294 9-9 9-4.97056.0-9-4.0294-9-9z"></path>
              <path class="fill-gray-50"
                    d="M16.9497 7.05015c-2.7336-2.73367-7.16578-2.73367-9.89945.0-.39052.39052-1.02369.39052-1.41421.0-.39053-.39053-.39053-1.02369.0-1.41422 3.51472-3.51472 9.21316-3.51472 12.72796.0C18.7545 6.02646 18.7545 6.65962 18.364 7.05015c-.390599999999999.39052-1.0237.39052-1.4143.0z"></path>
            </svg>
          </button>
          <button *ngIf="!loading" type="button" (click)="closeGradeModal()"
                  class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-skin-base px-4 py-2 text-base font-medium text-skin-base shadow-sm hover:bg-skin-muted focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

