<div *ngIf="authService.getRole() === 'STUDENT' || authService.getRole() === 'TEACHER'">
  <div *ngIf="subjects$ | async as subjects; else loading" class="p-3">
    <div class="mb-5">
      <div *ngIf="authService.getRole() == 'STUDENT'"
           class="md:flex w-full md:space-x-5">
        <div
          class="flex justify-center items-center bg-skin-base p-5 rounded-md shadow md:border-r-0 border-r-4 border-l-4 border-teal-600 rounded-lg w-full md:w-1/3 mb-5 md:mb-0">
          <div class="p-3 mb-4">
            <div class="flex-none rounded lg:rounded-t-none lg:rounded-l text-center">
              <div class="block overflow-hidden text-skin-muted text-center px-8 py-4 rounded-lg shadow">
                <div class="py-1 text-4xl">
                  {{monthNames[today.getMonth()]}}
                </div>
                <div class="">
                  <div class="pt-1">
                  <span class="text-7xl font-bold leading-tight">
                    {{today.getDate()}}
                  </span>
                  </div>
                  <div class=" text-center -pt-2 -mb-1 pb-3 ">
                    <span class="text-2xl">{{days[today.getDay()]}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="authService.getRole() == 'STUDENT'"
             class="bg-skin-base p-5 rounded-md shadow border-r-4 border-l-4 md:border-l-0 border-teal-600 rounded-lg w-full">
          <span class="text-lg underline underline-offset-8">Incoming activities:</span>
          <div *ngIf="activities$ | async as activities; else loading">
            <div *ngIf="activities.content.length > 0">
              <div class="md:flex md:space-x-5 mt-5 space-y-3 md:space-y-0">
                <div *ngFor="let activity of activities.content"
                     class="flex flex-col text-center shadow-xl bg-skin-muted rounded-xl p-3 md:w-1/3">
                  <span class="text-xl">{{activity.name}}</span>
                  <span>Weight: {{activity.weight}}</span>
                  <span class="font-bold">{{activity.date | date:"mediumDate"}}</span>
                  <span>{{activity.subjectName}}</span>
                  <p class="mt-5"><span routerLink="/realisation/{{activity.realisationId}}"
                                        class="cursor-pointer font-bold text-teal-600">View</span>
                </div>
              </div>
              <div class="flex justify-around">
            <span *ngIf="(activities!.number) > 0" (click)="previousActivityPage()"
                  class="mt-3 p-3 cursor-pointer font-bold text-teal-600">Previous page</span>
                <span *ngIf="!activities?.last" (click)="nextActivityPage()"
                      class="mt-3 p-3 cursor-pointer font-bold text-teal-600">Next page</span>
              </div>
            </div>
            <div *ngIf="activities.content.length === 0" class="p-3">
              There are no incoming activities.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="authService.getRole() == 'STUDENT'" class="mb-5">
      <div class="md:flex w-full space-x-0 md:space-x-5">
        <div
          class="bg-skin-base rounded-lg min-h-60 p-5 md:w-1/2 md:border-r-0 border-r-4 border-l-4 border-teal-600 mb-5 md:mb-0">
          <span class="text-lg underline underline-offset-8">Recent grades:</span>
          <div *ngIf="grades$ | async as grades; else loading">
            <div *ngIf="grades.content.length > 0">
              <div class="2xl:flex 2xl:space-x-5 mt-5 space-y-3 2xl:space-y-0">
                <div *ngFor="let grade of grades.content"
                     class="flex flex-col text-center shadow-xl bg-skin-muted rounded-xl p-3 w-full 2xl:w-1/3">
                  <span class="text-xl">{{grade.activityDTO.name}}</span>
                  <span class="font-bold text-xl">Grade: {{grade.grade}}</span>
                  <span>Weight: {{grade.activityDTO.weight}}</span>
                  <span>{{grade.createdAt | date:"short"}}</span>
                  <span>{{grade.activityDTO.subjectName}}</span>
                  <p class="mt-5"><span routerLink="/realisation/{{grade.realisationId}}/grades"
                                        class="cursor-pointer font-bold text-teal-600">View</span>
                </div>
              </div>
              <div class="flex justify-around">
            <span *ngIf="(grades!.number) > 0" (click)="previousGradePage()"
                  class="mt-3 p-3 cursor-pointer font-bold text-teal-600">Previous page</span>
                <span *ngIf="!grades?.last" (click)="nextGradePage()"
                      class="mt-3 p-3 cursor-pointer font-bold text-teal-600">Next page</span>
              </div>
            </div>
            <div *ngIf="grades.content.length === 0" class="p-3">
              There are no recent grades.
            </div>
          </div>
        </div>
        <div class="bg-skin-base rounded-lg min-h-60 p-5 md:w-1/2 md:border-l-0 border-r-4 border-l-4 border-teal-600">
          <span class="text-lg underline underline-offset-8">Latest post:</span>
          <div *ngIf="posts$ | async as posts; else loading">
            <div *ngIf="posts.content.length > 0">
              <div class="2xl:flex 2xl:space-x-5 mt-5 space-y-3 2xl:space-y-0">
                <div *ngFor="let post of posts.content"
                     class="flex flex-col shadow-xl text-center bg-skin-muted rounded-xl p-3 w-full">
                  <span class="font-bold text-xl">{{post.title}}</span>
                  <span>{{post.authorFirstName}} {{post.authorLastName}} > {{post.subjectName}}</span>
                  <span>{{post.createdAt | date:"short"}}</span>
                  <span class="my-2"></span>
                  <span class="text-justify">{{post.content}}</span>
                  <p class="mt-5"><span routerLink="/realisation/{{post.realisationId}}"
                                        class="cursor-pointer font-bold text-teal-600">View</span>
                </div>
              </div>
              <div class="flex justify-around">
            <span *ngIf="(posts!.number) > 0" (click)="previousPostPage()"
                  class="mt-3 p-3 cursor-pointer font-bold text-teal-600">Previous</span>
                <span *ngIf="!posts?.last" (click)="nextPostPage()"
                      class="mt-3 p-3 cursor-pointer font-bold text-teal-600">Next</span>
              </div>
            </div>
            <div *ngIf="posts.content.length === 0" class="p-3">
              There are no recent posts.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid w-full gap-5">
        <div *ngFor="let subject of subjects">
          <div class="rounded-lg">
            <div>
              <div routerLink="/realisation/{{subject.realisationId}}"
                   [ngClass]="subject.imageUrl? 'brightness-75': ''"
                   class="text-white bg-skin-base rounded-lg h-60 flex items-center justify-center text-4xl transition-opacity duration-150 hover:opacity-80 hover:shadow-2xl hover:-m-1 hover:underline underline-offset-4 cursor-pointer bg-cover bg-center">
                <img *ngIf="subject.imageUrl" [src]="subject.imageUrl"
                     class="h-full w-full object-cover overflow-hidden rounded-lg"
                     alt="image">
                <div
                  class="absolute z-10 bg-black text-white rounded-lg p-2 bg-opacity-50">
                  {{subject.subjectAbbreviation}}<span
                  *ngIf="authService.getRole() == 'TEACHER'"> {{subject.schoolClassName}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="rounded-lg">
            <div>
              <div routerLink="/profile"
                   class="text-white bg-skin-base rounded-lg h-60 flex items-center justify-center text-4xl transition-opacity duration-150 hover:opacity-80 hover:shadow-2xl hover:-m-1 hover:underline underline-offset-4 cursor-pointer bg-cover bg-center">
                <img
                  src="https://thumbs.dreamstime.com/b/user-profile-icon-abstract-blue-background-illustration-dark-blue-digital-texture-grunge-elegant-paint-modern-design-concept-user-167078251.jpg"
                  class="h-full w-full object-cover overflow-hidden rounded-lg"
                  alt="image">
                <div
                  class="absolute z-10 bg-black text-white rounded-lg p-2 bg-opacity-50">
                  <span>Profile</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="rounded-lg">
            <div>
              <div routerLink="/settings"
                   class="text-white bg-skin-base rounded-lg h-60 flex items-center justify-center text-4xl transition-opacity duration-150 hover:opacity-80 hover:shadow-2xl hover:-m-1 hover:underline underline-offset-4 cursor-pointer bg-cover bg-center">
                <img src="https://wallpapercave.com/wp/wp2474807.jpg"
                     class="h-full w-full object-cover overflow-hidden rounded-lg"
                     alt="image">
                <div
                  class="absolute z-10 bg-black text-white rounded-lg p-2 bg-opacity-50">
                  <span>Settings</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="authService.getRole() == 'OFFICE' || authService.getRole() == 'DIRECTOR' || authService.getRole() == 'ADMIN'"
  class="p-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid w-full gap-5">
  <div>
    <div class="rounded-lg">
      <div>
        <div routerLink="/subjects"
             class="text-white bg-skin-base rounded-lg h-60 flex items-center justify-center text-4xl transition-opacity duration-150 hover:opacity-80 hover:shadow-2xl hover:-m-1 hover:underline underline-offset-4 cursor-pointer bg-cover bg-center">
          <img
            src="https://media.istockphoto.com/id/1335708681/photo/stacks-of-books-for-teaching-knowledge-college-library-green-background.jpg?b=1&s=170667a&w=0&k=20&c=_-kpFpVyUWgiCafriJgZ6Wr_kLQ2kt19SSCZvlWK63Y="
            class="h-full w-full object-cover overflow-hidden rounded-lg"
            alt="image">
          <div
            class="absolute z-10 bg-black text-white rounded-lg p-2 bg-opacity-50">
            <span>Subjects</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="rounded-lg">
      <div>
        <div routerLink="/realisations"
             class="text-white bg-skin-base rounded-lg h-60 flex items-center justify-center text-4xl transition-opacity duration-150 hover:opacity-80 hover:shadow-2xl hover:-m-1 hover:underline underline-offset-4 cursor-pointer bg-cover bg-center">
          <img
            src="https://xello.world/wp-content/uploads/reignite-student-engagement-1024x760.jpg"
            class="h-full w-full object-cover overflow-hidden rounded-lg"
            alt="image">
          <div
            class="absolute z-10 bg-black text-white rounded-lg p-2 bg-opacity-50">
            <span>Realisations</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="rounded-lg">
      <div>
        <div routerLink="/classes"
             class="text-white bg-skin-base rounded-lg h-60 flex items-center justify-center text-4xl transition-opacity duration-150 hover:opacity-80 hover:shadow-2xl hover:-m-1 hover:underline underline-offset-4 cursor-pointer bg-cover bg-center">
          <img
            src="https://images.unsplash.com/photo-1580582932707-520aed937b7b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2xhc3Nyb29tfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
            class="h-full w-full object-cover overflow-hidden rounded-lg"
            alt="image">
          <div
            class="absolute z-10 bg-black text-white rounded-lg p-2 bg-opacity-50">
            <span>Classes</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="rounded-lg">
      <div>
        <div routerLink="/users"
             class="text-white bg-skin-base rounded-lg h-60 flex items-center justify-center text-4xl transition-opacity duration-150 hover:opacity-80 hover:shadow-2xl hover:-m-1 hover:underline underline-offset-4 cursor-pointer bg-cover bg-center">
          <img src="http://zslchrobry.lezajsk.pl/wp-content/uploads/2017/11/users.png"
               class="h-full w-full object-cover overflow-hidden rounded-lg"
               alt="image">
          <div
            class="absolute z-10 bg-black text-white rounded-lg p-2 bg-opacity-50">
            <span>Users</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="rounded-lg">
      <div>
        <div routerLink="/levels"
             class="text-white bg-skin-base rounded-lg h-60 flex items-center justify-center text-4xl transition-opacity duration-150 hover:opacity-80 hover:shadow-2xl hover:-m-1 hover:underline underline-offset-4 cursor-pointer bg-cover bg-center">
          <img src="https://s3-eu-west-1.amazonaws.com/lfwaaudio/images/BLOG/CEFR-Levels/cefr-blog-levels.jpg"
               class="h-full w-full object-cover overflow-hidden rounded-lg"
               alt="image">
          <div
            class="absolute z-10 bg-black text-white rounded-lg p-2 bg-opacity-50">
            <span>Levels</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="rounded-lg">
      <div>
        <div routerLink="/profile"
             class="text-white bg-skin-base rounded-lg h-60 flex items-center justify-center text-4xl transition-opacity duration-150 hover:opacity-80 hover:shadow-2xl hover:-m-1 hover:underline underline-offset-4 cursor-pointer bg-cover bg-center">
          <img
            src="https://thumbs.dreamstime.com/b/user-profile-icon-abstract-blue-background-illustration-dark-blue-digital-texture-grunge-elegant-paint-modern-design-concept-user-167078251.jpg"
            class="h-full w-full object-cover overflow-hidden rounded-lg"
            alt="image">
          <div
            class="absolute z-10 bg-black text-white rounded-lg p-2 bg-opacity-50">
            <span>Profile</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="rounded-lg">
      <div>
        <div routerLink="/settings"
             class="text-white bg-skin-base rounded-lg h-60 flex items-center justify-center text-4xl transition-opacity duration-150 hover:opacity-80 hover:shadow-2xl hover:-m-1 hover:underline underline-offset-4 cursor-pointer bg-cover bg-center">
          <img src="https://wallpapercave.com/wp/wp2474807.jpg"
               class="h-full w-full object-cover overflow-hidden rounded-lg"
               alt="image">
          <div
            class="absolute z-10 bg-black text-white rounded-lg p-2 bg-opacity-50">
            <span>Settings</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

