<div class="min-h-screen bg-skin-base flex flex-col justify-center py-12 px-6 lg:px-8"
     [ngClass]="themeService.lightTheme ? 'theme-light bg-image-light' : 'theme-dark bg-image-dark'">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <div class="text-skin-base">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="w-20 h-20 mx-auto h-16 w-auto">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"/>
      </svg>
    </div>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-skin-muted">Sign in to Syllabus</h2>
    <p class="mt-2 text-center text-sm text-skin-muted max-w">
      Don't have an account?
      <a routerLink="/register"
         class="font-medium text-teal-600 hover:text-teal-500 focus:outline-none focus:ring-2 focus:ring-teal-500">
        Sign up with code</a>
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-skin-fill py-8 px-6 shadow-2xl rounded-lg sm:px-10">
      <form class="mb-0 space-y-6">
        <div>
          <label for="email" class="block text-sm font-medium text-skin-base">Email address</label>
          <div class="mt-1">
            <input [(ngModel)]="email" id="email" name="email" type="email" autocomplete="email" required
                   class="w-full bg-skin-muted text-skin-base"/>
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-skin-base">Password</label>
          <div class="mt-1">
            <input [(ngModel)]="password" id="password" name="password" type="password" autocomplete="current-password"
                   required class="w-full bg-skin-muted text-skin-base"/>
          </div>
        </div>
        <div>
          <button *ngIf="!loading" (click)="login()" type="submit" class="w-full btn-submit focus:ring-0">Sign in
          </button>
          <button *ngIf="loading" type="submit" class="w-full btn-submit hover:none flex justify-center" disabled>
            <svg class="h-5 w-5 animate-spin" viewBox="3 3 18 18">
              <path class="fill-gray-900"
                    d="M12 5C8.13401 5 5 8.13401 5 12c0 3.866 3.13401 7 7 7 3.866.0 7-3.134 7-7 0-3.86599-3.134-7-7-7zM3 12c0-4.97056 4.02944-9 9-9 4.9706.0 9 4.02944 9 9 0 4.9706-4.0294 9-9 9-4.97056.0-9-4.0294-9-9z"></path>
              <path class="fill-gray-50"
                    d="M16.9497 7.05015c-2.7336-2.73367-7.16578-2.73367-9.89945.0-.39052.39052-1.02369.39052-1.41421.0-.39053-.39053-.39053-1.02369.0-1.41422 3.51472-3.51472 9.21316-3.51472 12.72796.0C18.7545 6.02646 18.7545 6.65962 18.364 7.05015c-.390599999999999.39052-1.0237.39052-1.4143.0z"></path>
            </svg>
          </button>

        </div>
      </form>
    </div>
    <div class="text-skin-base bg-skin-fill w-full rounded-lg p-4 shadow mt-3">
      <p class="font-bold">All accounts are secured by password "P@ssw0rd".</p>
      <p>Example users (click to login):</p>
      <div class="flex justify-between font-bold">
        <span (click)="loginAs('student')" class="p-1 m-1 cursor-pointer">student</span>
        <span (click)="loginAs('teacher')" class="p-1 m-1 cursor-pointer">teacher</span>
        <span (click)="loginAs('office')" class="p-1 m-1 cursor-pointer">office</span>
        <span (click)="loginAs('director')" class="p-1 m-1 cursor-pointer">director</span>
        <span (click)="loginAs('admin')" class="p-1 m-1 cursor-pointer">admin</span>
      </div>
    </div>
  </div>
</div>
