@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply
    rounded-lg
    border-gray-300
    focus:border-teal-600
    focus:ring-teal-600
    shadow-sm
  }

  :root {
    --color-text-base: #0c0c0c;
    --color-text-inverted: #eaeaea;
    --color-text-muted: #313131;

    --color-background-base: #ffffff;
    --color-background-muted: #ffffff;
    --logo-url: url(assets/logo.svg)
  }

  .theme-dark {
    --color-text-base: #d7d7d7;
    --color-text-inverted: #151515;
    --color-text-muted: #dcdcdc;
    --color-text-hovered: #070707;

    --color-background-base: #151515;
    --color-background-muted: #2c2c2c;
    --color-background-inverted: #dcdcdc;
    --color-background-filled: #2c2c2c;
    --color-background-sidebar: #1a1a1a;
  }

  .theme-light {
    --color-text-base: #0c0c0c;
    --color-text-inverted: #eaeaea;
    --color-text-muted: #313131;
    --color-text-hovered: #000000;

    --color-background-base: #ffffff;
    --color-background-muted: #f4f4f4;
    --color-background-inverted: #0c0c0c;
    --color-background-filled: #ffffff;
    --color-background-sidebar: #c7e3dbff;
  }

  .bg-image-light {
    background: url("assets/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bg-image-dark {
    background: url("src/assets/background-dark.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@layer utilities {
  .btn-submit {
    @apply
    flex
    justify-center
    py-2.5
    px-4
    rounded-md
    text-sm
    font-medium
    text-white
    bg-teal-600
    hover:bg-teal-700
    focus:outline-none
    focus:ring-2
    focus:ring-offset-2
    focus:ring-teal-500
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

input[type="checkbox"]:checked ~ .dot {
  transform: translateX(100%);
  background-image: url("assets/moon.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"] ~ .dot {
  background-image: url("assets/sun.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#logo-text {
  font-family: 'Comfortaa', cursive;
}
