@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&family=Poppins&family=Comfortaa&display=swap');
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply
    rounded-lg
    border-gray-300
    focus:border-teal-600
    focus:ring-teal-600
    shadow-sm
  }

  :root {
    --color-text-base: #0c0c0c;
    --color-text-inverted: #eaeaea;
    --color-text-muted: #313131;

    --color-background-base: #ffffff;
    --color-background-muted: #ffffff;
    --logo-url: url(assets/logo.svg)
  }

  .theme-dark {
    --color-text-base: #d7d7d7;
    --color-text-inverted: #151515;
    --color-text-muted: #dcdcdc;
    --color-text-hovered: #070707;

    --color-background-base: #151515;
    --color-background-muted: #2c2c2c;
    --color-background-inverted: #dcdcdc;
    --color-background-filled: #2c2c2c;
    --color-background-sidebar: #1a1a1a;
  }

  .theme-light {
    --color-text-base: #0c0c0c;
    --color-text-inverted: #eaeaea;
    --color-text-muted: #313131;
    --color-text-hovered: #000000;

    --color-background-base: #ffffff;
    --color-background-muted: #f4f4f4;
    --color-background-inverted: #0c0c0c;
    --color-background-filled: #ffffff;
    --color-background-sidebar: #c7e3dbff;
  }

  .bg-image-light {
    background: url("assets/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bg-image-dark {
    background: url("src/assets/background-dark.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@layer base {
  .btn-submit {
    @apply
    justify-center
    py-2.5
    px-4
    rounded-md
    text-sm
    font-medium
    text-white
    bg-teal-600
    hover:bg-teal-700
    focus:outline-none
    focus:ring-2
    focus:ring-teal-700
  }

  .btn-edit {
    @apply
    justify-center
    py-2.5
    px-4
    rounded-md
    text-sm
    font-medium
    text-skin-base
    bg-skin-base
    hover:bg-skin-muted
    focus:outline-none
    focus:ring-2
    focus:ring-gray-700
    border-gray-500
    border
  }

  .btn-del {
    @apply
    justify-center
    py-2.5
    px-4
    rounded-md
    text-sm
    font-medium
    text-white
    bg-red-600
    hover:bg-red-700
    focus:outline-none
    focus:ring-2
    focus:ring-red-700
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#dashboard {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Titillium Web", sans-serif;
}

input[type="checkbox"]:checked ~ .dot {
  transform: translateX(100%);
  background-image: url("assets/moon.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"] ~ .dot {
  background-image: url("assets/sun.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"]:checked ~ .switch {
  transform: translateX(100%);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"] ~ .switch {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#logo-text {
  font-family: 'Comfortaa', cursive;
}

.english {
  background-image: url("https://cdn.britannica.com/25/4825-004-F1975B92/Flag-United-Kingdom.jpg");
}

.history {
  background-image: url("https://media.istockphoto.com/id/936911748/photo/old-hourglass-and-ancient-book.jpg?s=612x612&w=0&k=20&c=jQX5TjGDgXEDSKfY2cHEL4x7oc7pH4B_ApO0Q4aXMaI=");
}

.biology {
  background-image: url("https://media.istockphoto.com/id/1206633490/photo/cells-and-biological-chain-molecules-and-abstract-conception-3d-rendering.jpg?s=612x612&w=0&k=20&c=i6A1aKLqoTVvteXSTen0PAUjo3XRlfXhkj6S2OwI8LY=");
}

.pe {
  background-image: url("https://leverageedu.com/blog/wp-content/uploads/2020/01/physical-education-class-12.jpg");
}



