<div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 px-6 lg:px-8" id="login-page">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-16 w-auto" src="../../../assets/logo.svg"
         alt="Workflow"/>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Sign up to Syllabus</h2>
    <p class="mt-2 text-center text-sm text-gray-600 max-w">
      Already have an account?
      <a routerLink="/login"
         class="font-medium text-teal-600 hover:text-teal-500 focus:outline-none focus:ring-2 focus:ring-teal-500">
        Sign in</a>
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-6 shadow rounded-lg sm:px-10">
      <form class="mb-0 space-y-6" action="#" method="POST">
        <div>
          <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
          <div class="mt-1">
            <input id="first-name" name="first-name" type="text" required class=
              "w-full
              rounded-lg
              border-gray-300
              focus:border-teal-600
              focus:ring-teal-600
              shadow-sm"/>
          </div>
        </div>

        <div>
          <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
          <div class="mt-1">
            <input id="last-name" name="last-name" type="text" required class=
              "w-full
              rounded-lg
              border-gray-300
              focus:border-teal-600
              focus:ring-teal-600
              shadow-sm"/>
          </div>
        </div>

        <div>
          <label for="personal-id" class="block text-sm font-medium text-gray-700">Personal ID</label>
          <div class="mt-1">
            <input id="personal-id" name="personal-id" type="text" required class=
              "w-full
              rounded-lg
              border-gray-300
              focus:border-teal-600
              focus:ring-teal-600
              shadow-sm"/>
          </div>
        </div>


        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
          <div class="mt-1">
            <input id="email" name="email" type="email" autocomplete="email" required class=
              "w-full
              rounded-lg
              border-gray-300
              focus:border-teal-600
              focus:ring-teal-600
              shadow-sm"/>
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <div class="mt-1">
            <input id="password" name="password" type="password" required class=
              "w-full
              rounded-lg
              border-gray-300
              focus:border-teal-600
              focus:ring-teal-600
              shadow-sm"/>
          </div>
        </div>

        <div>
          <label for="repeat-password" class="block text-sm font-medium text-gray-700">Confirm password</label>
          <div class="mt-1">
            <input id="repeat-password" name="password" type="password" required class=
              "w-full
              rounded-lg
              border-gray-300
              focus:border-teal-600
              focus:ring-teal-600
              shadow-sm"/>
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Registration code</label>
          <div class="mt-1">
            <input id="code" name="password" type="text" required class=
              "w-full
              rounded-lg
              border-gray-300
              focus:border-teal-600
              focus:ring-teal-600
              shadow-sm"/>
          </div>
        </div>

        <div>
          <button type="submit" class=
            "w-full
             flex
             justify-center
             py-2.5
             px-4
             rounded-md
             text-sm
             font-medium
             text-white
             bg-teal-600
             hover:bg-teal-700
             focus:outline-none
             focus:ring-2
             focus:ring-offset-2
             focus:ring-teal-500">Sign up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
