<div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 px-6 lg:px-8"
     [ngClass]="themeService.lightTheme ? 'theme-light bg-image-light' : 'theme-dark bg-image-dark'">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-16 w-auto" src="../../../assets/logo.svg"
         alt="Workflow"/>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-skin-muted">Sign up to Syllabus</h2>
    <p class="mt-2 text-center text-sm text-skin-muted max-w">
      Already have an account?
      <a routerLink="/login"
         class="font-medium text-teal-600 hover:text-teal-500 focus:outline-none focus:ring-2 focus:ring-teal-500">
        Sign in</a>
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-skin-fill py-8 px-6 shadow-2xl rounded-lg sm:px-10">
      <form class="mb-0 space-y-6">
        <div>
          <label for="first-name" class="block text-sm font-medium text-skin-base">First name</label>
          <div class="mt-1">
            <input [(ngModel)]="firstName" id="first-name" name="first-name" type="text" required
                   class="bg-skin-muted text-skin-base w-full "/>
          </div>
        </div>

        <div>
          <label for="last-name" class="block text-sm font-medium text-skin-base">Last name</label>
          <div class="mt-1">
            <input [(ngModel)]="lastName" id="last-name" name="last-name" type="text" required
                   class="bg-skin-muted text-skin-base w-full"/>
          </div>
        </div>

        <div>
          <label for="personal-id" class="block text-sm font-medium text-skin-base">Personal ID</label>
          <div class="mt-1">
            <input [(ngModel)]="personalId" id="personal-id" name="personal-id" type="text" required
                   class="bg-skin-muted text-skin-base w-full"/>
          </div>
        </div>


        <div>
          <label for="email" class="block text-sm font-medium text-skin-base">Email address</label>
          <div class="mt-1">
            <input [(ngModel)]="email" id="email" name="email" type="email" autocomplete="email" required
                   class="bg-skin-muted text-skin-base w-full"/>
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-skin-base">Password</label>
          <div class="mt-1">
            <input [(ngModel)]="password" id="password" name="password" type="password" required
                   class="bg-skin-muted text-skin-base w-full"/>
          </div>
          <span class="text-skin-muted">Password should be 8-20 characters long</span>
        </div>

        <div>
          <label for="repeat-password" class="block text-sm font-medium text-skin-base">Confirm password</label>
          <div class="mt-1">
            <input [(ngModel)]="repeatPassword" id="repeat-password" name="repeatPassword" type="password" required
                   class="bg-skin-muted text-skin-base w-full"/>
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-skin-base">Registration code</label>
          <div class="mt-1">
            <input [(ngModel)]="token" id="code" name="code" type="text" required
                   class="bg-skin-muted text-skin-base w-full"/>
          </div>
        </div>

        <div>
          <button (click)="register()" type="submit" class="w-full btn-submit">Sign up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
